In [2]:
import requests

In [ ]:
https://data.sensor.community/airrohr/v1/filter/box=50.0,30.0,60.0,80.0&country=RU

In [12]:
import requests

url = "https://data.sensor.community/airrohr/v1/filter/area=55.77,37.592,10&country=RU"

response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    # обработка данных
else:
    print("Ошибка при получении данных")

In [16]:
len(data)

242

In [29]:
data[240]

{'sensordatavalues': [{'value': '5.22', 'value_type': 'P1', 'id': 46047987692},
  {'value': '2.63', 'value_type': 'P2', 'id': 46047987694}],
 'sensor': {'pin': '1',
  'id': 44193,
  'sensor_type': {'name': 'SDS011', 'manufacturer': 'Nova Fitness', 'id': 14}},
 'sampling_rate': None,
 'timestamp': '2024-04-28 08:34:56',
 'id': 20232556854,
 'location': {'country': 'RU',
  'indoor': 0,
  'exact_location': 1,
  'longitude': '37.51887059241',
  'latitude': '55.71542533875',
  'id': 29860,
  'altitude': '172.3'}}

In [43]:
import requests
import pandas as pd

url = "https://data.sensor.community/airrohr/v1/filter/box=50.0,30.0,60.0,80.0&country=RU"

response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame([{'id': sd['id'],
                        'value_type': sdv['value_type'],
                        'value': sdv['value'],
                        'long': sd['location']['longitude'],
                        'lat': sd['location']['latitude'],
                        'indoor': sd['location']['indoor']}
                       for sd in data for sdv in sd['sensordatavalues']])

else:
    print("Ошибка при получении данных")

In [44]:
df

               id            value_type      value    long     lat  indoor
0     20232789903           temperature      22.97  41.094  56.928       0
1     20232789903              pressure  101238.78  41.094  56.928       0
2     20232789903              humidity      25.36  41.094  56.928       0
3     20232789903  pressure_at_sealevel  102480.42  41.094  56.928       0
4     20232789894           temperature      18.91   37.46  55.698       0
...           ...                   ...        ...     ...     ...     ...
4020  20232739799                    P2       0.90  37.928  59.082       0
4021  20232739748                    P1       2.63  37.864   55.63       0
4022  20232739748                    P2       1.60  37.864   55.63       0
4023  20232739719                    P1       6.20   37.71  55.652       0
4024  20232739719                    P2       2.80   37.71  55.652       0

[4025 rows x 6 columns]

In [38]:
import requests
import pandas as pd

url = "https://data.sensor.community/airrohr/v1/filter/box=50.0,30.0,60.0,80.0&country=RU"

response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame([{'id': sd['id'],
                        'value_type': sdv['value_type'],
                        'value': sdv['value'],
                        'long': sd['location']['longitude'],
                        'lat': sd['location']['latitude'],
                        'indoor': sd['location']['indoor']}
                       for sd in data for sdv in sd['sensordatavalues']])
    df_pivot = df.pivot_table(index=['id', 'long', 'lat', 'indoor'], columns='value_type', values='value', aggfunc='first')
    # обработка данных
else:
    print("Ошибка при получении данных")

In [39]:
df

,id,value_type,value,long,lat,indoor
0,20232750773,temperature,21.30,73.44353675900,54.96364028899,0
1,20232750773,humidity,50.92,73.44353675900,54.96364028899,0
2,20232750767,temperature,31.89,30.35618662700,59.92415315824,0
3,20232750767,pressure,102307.00,30.35618662700,59.92415315824,0
4,20232750767,humidity,17.32,30.35618662700,59.92415315824,0
...,...,...,...,...,...,...
3979,20232701533,noise_LA_max,72.00,37.816,55.706,0
3980,20232701515,P1,0.32,37.816,55.706,0
3981,20232701515,P2,0.22,37.816,55.706,0
3982,20232701511,P1,1.95,30.27152400000,50.55604700000,0
3983,20232701511,P2,0.63,30.27152400000,50.55604700000,0

In [45]:
import pandas as pd


df_pivot = df.pivot(index=['id', 'long', 'lat', 'indoor'], columns='value_type', values='value')

# Если нужно, можно сбросить индексы и переименовать столбцы
df_pivot = df_pivot.reset_index()
df_pivot.columns.name = None

print(df_pivot)

               id            long             lat  indoor   P0    P1    P2  \
0     20232739719           37.71          55.652       0  NaN  6.20  2.80
1     20232739748          37.864           55.63       0  NaN  2.63  1.60
2     20232739799          37.928          59.082       0  NaN  1.20  0.90
3     20232739831          73.504          54.918       0  NaN   NaN   NaN
4     20232739938  37.73473531008  55.60194616744       0  NaN  4.00  2.95
...           ...             ...             ...     ...  ...   ...   ...
1436  20232789880          37.894          59.134       0  NaN  8.38  2.72
1437  20232789886  38.51695060730  54.85361578212       0  NaN   NaN   NaN
1438  20232789893          37.934          59.144       0  NaN  9.73  5.07
1439  20232789894           37.46          55.698       0  NaN   NaN   NaN
1440  20232789903          41.094          56.928       0  NaN   NaN   NaN

     counts_per_minute humidity noise_LA_max noise_LA_min noise_LAeq  \
0                  NaN      NaN          NaN          NaN        NaN
1                  NaN      NaN          NaN          NaN        NaN
2                  NaN      NaN          NaN          NaN        NaN
3                  NaN    51.39          NaN          NaN        NaN
4                  NaN      NaN          NaN          NaN        NaN
...                ...      ...          ...          ...        ...
1436               NaN      NaN          NaN          NaN        NaN
1437               NaN   100.00          NaN          NaN        NaN
1438               NaN      NaN          NaN          NaN        NaN
1439               NaN    32.28          NaN          NaN        NaN
1440               NaN    25.36          NaN          NaN        NaN

       pressure pressure_at_sealevel temperature
0           NaN                  NaN         NaN
1           NaN                  NaN         NaN
2           NaN                  NaN         NaN
3      99823.69            101196.09       19.65
4           NaN                  NaN         NaN
...         ...                  ...         ...
1436        NaN                  NaN         NaN
1437  -23370.19            -23720.27        3.74
1438        NaN                  NaN         NaN
1439  100633.69            102479.76       18.91
1440  101238.78            102480.42       22.97

[1441 rows x 15 columns]

In [47]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1441 entries, 0 to 1440
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1441 non-null   int64
 1   long                  1441 non-null   object
 2   lat                   1441 non-null   object
 3   indoor                1441 non-null   int64
 4   P0                    76 non-null     object
 5   P1                    810 non-null    object
 6   P2                    810 non-null    object
 7   counts_per_minute     2 non-null      object
 8   humidity              563 non-null    object
 9   noise_LA_max          51 non-null     object
 10  noise_LA_min          51 non-null     object
 11  noise_LAeq            51 non-null     object
 12  pressure              518 non-null    object
 13  pressure_at_sealevel  515 non-null    object
 14  temperature           578 non-null    object
dtypes: int64(2), object(13)
memory usage: 169.0+ KB

In [59]:
df_pivot['pressure_at_sealevel'].unique()

array([nan, 101196.09, 102883.51, 102626.41, 63783.06, 102815.46,
       62115.32, 102893.52, 102528.29, 102804.29, 102532.74, 102215.36,
       102455.73, 102585.34, 102598.08, 102622.21, 102397.77, 102986.13,
       102817.21, 102706.62, 102837.77, 102957.52, 102791.75, 102872.51,
       101335.6, 43845.83, 102477.05, 102620.37, -23705.39, 102926.83,
       102920.25, 102739.82, 102902.21, 67067.06, 102313.52, 102888.81,
       102051.16, 102757.65, 102625.24, 102460.97, 102793.37, 102740.62,
       102123.98, 102555.85, 102139.35, 102675.21, 102309.35, 101214.91,
       102388, 102895.61, 102499.79, 51591.84, 102865.01, 100873.71,
       102457.02, 102657.3, 100990.46, 102209.96, 102389.59, 102792.84,
       102325.86, 102561.99, 102819.34, 102894.4, 102526.87, 102870.35,
       102888.22, 102118.61, 102549.47, 101219.96, 102623.75, 102235.31,
       101136.53, 102693.64, 102786.57, 102513.45, 102898.43, 69144.95,
       102154.54, 102279.51, 102194.7, 102932.14, 102703.04, 102565.77,
       102846.11, 102941.86, 102118.95, 102875.83, 64826.45, 102720.46,
       102675.7, 102486.38, 102501.33, 101148.39, 78170.53, 102444,
       102210.37, 1025.01, 102587.31, 102357.58, 101357.13, 102218.2,
       102814.83, 102722.83, 102140.82, 102896.37, 102396.39, 102888.96,
       102514.52, 102240.24, 102331.05, 102785.57, 102389.97, 102700.83,
       102618.97, 102322.77, 102887.18, 101048.77, 102615.8, 102757.51,
       102937.28, 102686.09, 102452.1, 102915.74, 102339.93, -19114.56,
       102833.57, 102914.97, 102467.12, 102330.22, 101059.34, 102054.02,
       102616.5, 102758.65, 102890.6, 102154.43, 77529.48, 102606.98,
       102689.83, 62843.57, 61246.01, 102312.03, 102485.99, 103041.14,
       102679.01, 101294.99, 102038.77, 102419.78, 51618.59, 102877.99,
       102534.35, 102963.88, 102928.52, 101975.78, 102206.11, 102632.3,
       102682.89, 102215.87, 102413.25, 102686.72, 102890.89, 102890.03,
       102749.8, 102810.51, 102728.6, 102768.84, 102516.16, 102343.48,
       101233.42, 102729.07, 101962.08, 101707.45, 102475.56, 155628.28,
       102892.18, 102892.25, 102428.95, 100174.61, 102493.46, 102581.24,
       102522.06, 102365.58, 101293.2, 102920.41, 102836.47, 102917.72,
       102804.98, 102462.55, 102165.54, 102206.24, 101849.44, 102809.72,
       103001.75, 102197.38, 68401.37, 102822.73, 102707.34, 102876.87,
       102770.78, 101182.03, 102707.25, 102326.76, 102637.17, 102874.47,
       102156.83, 102429.69, 102842.84, 102678.65, 102676.33, 102532.12,
       102854.99, 102081.19, 102811.76, 101994.11, 101171.22, 102890.05,
       102817.05, 102705.21, 102578.09, 102210.04, 102605.9, 102615.5,
       102527.06, 102399.23, 102815.68, 102886.58, 102690.4, 102617.71,
       102192.72, 100820, 102755.12, 102320.38, 102872.28, 102720.71,
       102808.85, 102439.48, 102126.69, 102727.54, 102048.15, 102382.4,
       102544.36, 101362.53, 102683.68, 102607.1, 102381.41, 102662.13,
       102631.98, 102884.57, 102319.4, 102896.48, 51698.86, 101192.8,
       102392.35, 78143.54, 102570, 102355.76, 102961.89, 102441.93,
       102704.15, 102830.02, 44033.76, 102477.47, 102897.99, 102951.36,
       102923.97, 102795.21, 102897.84, -23726.39, 102921.08, 102544.68,
       102754.19, 102049.37, 102882.1, 102818.5, 102608.93, 102798.09,
       101190.01, 102760.86, 102740.45, 102202.94, 102892.89, 102528.98,
       102530.18, 102206.9, 102177.86, 102817.8, 102401.24, 102115.69,
       102673.22, 102614.76, 102350.95, 100852.32, 102508.12, 102655.11,
       101160.64, 102435.6, 102713.12, 102820.63, 102868.09, 102888.82,
       102484.47, 101018.45, 102856.85, 102792.39, 102711.48, 102891.55,
       102643.89, 101138.5, 102674.63, 102701.62, 102891.3, 102876.86,
       102913.79, 102240.81, 102255.66, 102509.58, 102825.23, 102292.66,
       101325.1, 102198.57, 102789.48, 102572.72, 102399.92, 102953.44,
       102840.7, 101048.35, 102293.33, 102924.84, 102208.51, 102112.09,
       102535.24, 102317.04, 102880.83, 102866.45, 102509.03, 102508.61,
       102590.79, 101179.22, 102284.62, 102341.04, 101478.73, 102130.26,
       102314.48, 51752.36, 102724.05, 102213.32, 102750.29, 102895.53,
       102886.74, 102613.97, 102761.09, 102609.62, 102937.04, 102472.34,
       102503.36, 102047.3, 102668.08, 102337.18, 102923.9, 102466.65,
       102914.99, 102824.46, 101067.4, 102831.03, 102891.28, 101243.06,
       1051.85, 102613.98, 102751.87, 102324.9, 102140.78, 102591.3,
       1051.29, 102754.87, 102211.74, 102522.09, 102392.96, 102596.2,
       102700.09, 102672.18, 101994.01, 102482.52, 102887.29, 103055.77,
       102888.72, 102533.75, 102932.96, 102938.65, 101978.52, 102715.8,
       102321.61, 102420.47, 101298.1, 102685.83, 102126.52, 102533.35,
       102758.84, 102405.77, 100843.45, 102722.28, 102345.84, 102761.04,
       102222.01, 102811.99, 102730.45, 102885.36, 102705.74, 78114.49,
       101960.39, 102890.65, 155576.7, 102517.9, 100188.75, 102641.06,
       102889.78, 102331.75, 102917.95, 102331.88, 102671.69, 102835.41,
       101279.92, 102474.88, 102820.72, 1052.46, 102919.89, 102742.47,
       102371.08, 102395.89, 101845.38, 102786.45, 68390.67, 102882.17,
       102317.37, 1055.05, 102526.14, 102890.04, 102197.63, 102159.67,
       102207.06, 102527.73, 102415.8, 102827.23, 102634.8, 102292.25,
       102635.66, 102848.82, 102208.52, 102877.7, 102089.55, 102387.38,
       102857.4, 51844.98, 102325.16, 102572.25, 102360.13, 102164.47,
       102598.1, 100803.65, 102544.53, 102870.39, 102819.29, 102886.17,
       102882.04, 102198.25, 102191.15, 102861.26, 102884.61, 102738.75,
       102386.41, 102050.68, 102886.45, 102051.69, 101711.55, 102817.69,
       102531.74, 102443.78, 101392.75, 102746.09, 102612.45, 102803.43,
       101231.55, 102712.47, 102691.97, 102674.88, 102547.54, 102676.63,
       102628.28, 102530.41, 102404.48, 102209.09, 102717.73, 1024.91,
       102670.95, 103009.15, 102885.35, 102703.01, 102896.94, 102572.64,
       102941.92, 102831.42, 102914.09, 44149.39, -23720.27, 102479.76,
       102480.42], dtype=object)

In [55]:
df_pivot.to_csv('sensorc.csv')

In [54]:
df_pivot

,id,long,lat,indoor,P0,P1,P2,counts_per_minute,humidity,noise_LA_max,noise_LA_min,noise_LAeq,pressure,pressure_at_sealevel,temperature
0,20232739719,37.71,55.652,0,NaN,6.20,2.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20232739748,37.864,55.63,0,NaN,2.63,1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20232739799,37.928,59.082,0,NaN,1.20,0.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20232739831,73.504,54.918,0,NaN,NaN,NaN,NaN,51.39,NaN,NaN,NaN,99823.69,101196.09,19.65
4,20232739938,37.73473531008,55.60194616744,0,NaN,4.00,2.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1436,20232789880,37.894,59.134,0,NaN,8.38,2.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1437,20232789886,38.51695060730,54.85361578212,0,NaN,NaN,NaN,NaN,100.00,NaN,NaN,NaN,-23370.19,-23720.27,3.74
1438,20232789893,37.934,59.144,0,NaN,9.73,5.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1439,20232789894,37.46,55.698,0,NaN,NaN,NaN,NaN,32.28,NaN,NaN,NaN,100633.69,102479.76,18.91
1440,20232789903,41.094,56.928,0,NaN,NaN,NaN,NaN,25.36,NaN,NaN,NaN,101238.78,102480.42,22.97